
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Voice social networks</title>
    <link rel="stylesheet" href="~/content/bundle.css"/>
    <script src="~/content/bundle.js" defer></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>

